@ charset="UTF-8";
/* CSS Document */
p {
	color: black;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width:600px;
	background-color: burlywood;
	padding: 20px;
}
.paragraf_2{color: darkslategrey; background-color: rgba(255, 255, 255, 0.9)}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin: 20px;
	width: 50%;
}
h1,h2,h3,h4 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	color: darkslategrey;
}

span{color: rgb(255,0,255);}
.pozadina{
	background-image: url("Slike/pozadina.jpg");
	
}
.drugapozadina {
	background-color: darkgray;
}

a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 25px;
	border:1px solid #000000;
}
a:hover{
	background-color: darkgray;
}
img {
	height: 200px;
}